# Atlassian MCP server configuration
# ----------------------------------------------
#MCP_VERBOSE=#OPTIONAL: true
#MCP_VERY_VERBOSE=#OPTIONAL: true
#READ_ONLY_MODE=#OPTIONAL(default: false): true

# Jira Cloud
# ----------------------------------------------
JIRA_USERNAME=your_jira_username@example.com
JIRA_API_TOKEN=ATATTxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=XXXXXXXX
JIRA_URL=https://your-domain.atlassian.net/
#ENABLED_TOOLS=#OPTIONAL: jira_search,jira_get_issue,jira_create_issue,jira_update_issue,jira_get_board_issues,jira_add_comment,jira_get_project_issues,confluence_get_page_children,confluence_search,confluence_get_page,confluence_create_page,confluence_update_page
#JIRA_PROJECTS_FILTER=#OPTIONAL: PROJ1,PROJ2 # Optional: filter projects by key

# Confluence
# ----------------------------------------------
CONFLUENCE_URL=https://your-domain.atlassian.net/wiki
CONFLUENCE_USERNAME=your_confluence_username@example.com
CONFLUENCE_API_TOKEN=ATATTxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=XXXXXXXX
#CONFLUENCE_SPACES_FILTER=#OPTIONAL: SPACE1,SPACE2 # Optional: filter spaces by key
